.Rproj.user
.Rhistory
.RData
*.html
data/InpatientCodes.csv
data/InpatientProcedures.csv
data/Medicare_Provider_Charge_Inpatient_DRG100_FY2011.csv
data/Medicare_Provider_Charge_Inpatient_DRG100_FY2012.csv
data/Medicare_Provider_Charge_Inpatient_DRG100_FY2013.csv
data/Medicare_Provider_Charge_Inpatient_DRGALL_FY2014.csv
data/Medicare_Provider_Charge_Outpatient_APC30_CY2011_v2.csv
data/Medicare_Provider_Charge_Outpatient_APC30_CY2012.csv
data/Medicare_Provider_Charge_Outpatient_APC30_CY2013.csv
data/Medicare_Provider_Charge_Outpatient_APC32_CY2014.csv
data/OutpatientCodes.csv
data/OutpatientProcedures.csv
data/Providers.csv
